* {
    margin: 0;
    padding: 0;
    font-family: serif, sans-serif;
}

/* Nav section start here */
.nav {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 110px;
    height: 70px;
}

.nav-items ul {
    list-style: none;
    display: flex;
}

.nav-items ul li {
    margin-right: 40px;
}

.nav-items a {
    text-decoration: none;
    color: white;
    font-size: small;

}
.nav-items a:hover{
    color: rgba(255, 166, 0, 0.824);
    border-bottom: 2px solid rgba(255, 166, 0, 0.824);
    padding-bottom: 20px;
    transition-duration: 0.5s;
}
.nav-button{
    margin-right: 30px;
}
.nav-button button{
    background-color: transparent;
    border: 1px solid rgba(255, 166, 0, 0.824);
    border-radius: 70px;
    font-size: small;
    color: rgba(255, 166, 0, 0.824);
    width:100px;
    height: 30px;
}
/* Nav section ends here  */

/* Hero section starts here  */

.hero{

    color: white;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-image: url(images/hero.png);
}
.hero-content{
    margin-left: 60px;
   padding-top: 60px;
}
.hero-content1{
  font-family: Italianno;
  font-size: 40px;
  color: rgba(255, 166, 0, 0.824);
}
.hero-content2{
    font-size: 50px;
}
.hero-content3{
    font-size: 50px;
    margin-bottom: 10px;
}
.hero-content4{
    color: rgba(225, 215, 215, 0.938);
    font-size: 13px;
    width: 220px;
    margin-bottom: 20px;
}
.hero-content5{
    color: white;
    font-weight: 500;
    width: 120px;
    height: 28px;
    border-radius: 4px;
    border: 2px solid rgb(244, 174, 43);
    background-color: rgb(244, 174, 43);
    margin-right: 5px;
}
.hero-content6 i{
    font-size: 10px;
    color: rgb(244, 174, 43);
    margin-right: 10px;
}
.hero-content6{
    color: white;
    font-weight: 500;
    width: 120px;
    height: 28px;
    border-radius: 4px;
    border: 1.5px solid rgb(150, 100, 6);
    background-color: transparent;
}

/* Hero section ends here */

/* Main about section starts here */

.main-about{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 241, 241, 0.774);
}
.main1{
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;


}
.main1-1st-img{
    margin-left: 80px;
    border-radius: 10px;
    width: 220px;
    height: 300px;
}

.main1-2nd-img{
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-radius: 10px;
    width: 165px;
    height: 200px;
    z-index: 1;
    position: absolute;
    left: 250px;
}
.main2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    right: 80px;
    top: 80px;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 100%;
    border: 1.5px solid rgb(150, 100, 6);
    z-index: 2;
}
.main2-1st-child{
    color: rgb(150, 100, 6);
    font-size: 30px;
    font: bold;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.main2-2nd-child{
    font-size: 10px;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main3{
    width: 35%;
    height: 350px;
    margin-right: 150px;
    margin-top: 50px;
}
.main3 h1{
    font-size: 12px;
    color: rgb(190, 127, 9);
    font-family: sans-serif;
    margin-bottom: 10px;
}
.main3 h2{
    font-size: 40px;
    margin-bottom: 5px;
}
.main3-1st-img{
    width: 170px;
    margin-bottom: 10px;
}
.main3 p{
    font-size: 13px;
    color: rgb(91, 90, 90);
}
.main3-2nd-img{
    width: 350px;
    color: black;
}
.main3 button{
    background-color: rgb(188, 126, 10);
    width: 110px;
    color: white;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
}
/* Main about section ends here */


/* Main menu section starts here */
.menu-header{
    text-align: center;
}
.menu-header h2{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(255, 166, 0);
    font-family: sans-serif;
}
.menu-header h1{
    margin-top: 10px;
    font-size: 35px;
    font-family: sans-serif;
}
.menu-header img{
    margin-top: 10px;
    width: 170px;
}
.menu-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
.menu-image img{
    border-radius: 10px;
}
.menu-image-data{
    margin-left: 15px;
    margin-right: 15px;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-image-data > :first-child > :first-child{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 10px;
}
.menu-prices{
    font-family: sans-serif;
    color: rgb(220, 146, 8);
    font-weight: bold;
}
.icons{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: rgb(236, 156, 6);
    border-radius: 3px;
    color: white;
}
/* Main menu section ends here */